.background {
    background-image: url('images/img1.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    top: 0;
    left: 0;
    position: fixed;
}

.headertitle {
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    margin: 3% 0% 0% 10%;
    font-size: 1.6vw;
    font-weight: bold;
    cursor: pointer;
}

.header1 {
    color: rgb(213, 0, 137);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3% 0% 0% 18%;
    position: fixed;
    font-size: 1.6vw;
    font-weight: bold;
    cursor: pointer;

}

.Home {
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3.6% 0% 0% 57%;
    position: fixed;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
}

.Map {
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3.6% 0% 0% 62.8%;
    position: fixed;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
}

.News {
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3.6% 0% 0% 67.5%;
    position: fixed;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
}

.Contact {
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3.6% 0% 0% 73%;
    position: fixed;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;

}

input[type=button] {
    height: 5%;
    width: 6%;
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(213, 0, 138, 0.426);
    position: fixed;
    margin: 3% 0% 0% 80%;
    font-weight: bolder;
    border: solid 1px white;
    border-radius: 8%;
    cursor: pointer;
    font-size: 13px;


}

input[type=button]:hover {
    background-color: rgb(213, 0, 138);
    font-size: 15px;


}


.slogan1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15% 0% 0% 10%;
    position: fixed;
    font-size: 3vw;
    font-weight: 200;
    cursor: pointer;

}

input[type=text] {
    height: 27px;
    width: 300px;
    position: fixed;
    padding: 10px;
    margin: 24.8% 0% 0% 10.2%;
    border: 1px solid silver;
    background-color: rgb(58, 57, 57);
    opacity: 65%;
    color: white;

}

input[type=submit] {
    position: fixed;
    height: 52px;
    width: 170px;
    margin: 22.5% 0% 0% 29.2%;
    background-color: rgba(213, 0, 138, 0.73);
    border-radius: 0px 10px 10px 0px;
    border: 1px solid rgba(213, 0, 138, 0.838);
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;


}

input[type=submit]:hover {
    background-color: rgb(213, 0, 138);
    font-size: 18px;


}

.bottomtext {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 28% 0% 0% 10%;
    position: fixed;
    font-size: 1vw;
    font-weight: 200;
    cursor: pointer;


}

.big-container {
    background-color: rgba(213, 0, 138, 0.175);
    height: 50%;
    width: 50%;
    position: fixed;;
    margin: 11% 0% 0% 27%;
    border-radius: 35px;
    border: solid 1px white;
    
}

.temp_container {
    width: 250px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px #888888, -2px -2px 5px #888888;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    margin: 1.3% 0% 0% 16%;


}

.cur-temp {
    color: white;
    font-size: 100px;
    position: fixed;
    margin: 3% 0% 0% 18%;


}
.celcius{
    color: white;
    position: fixed;
    margin: 4% 0% 0% 31.5%;
    font-size: 30px;

}

.weather-icon {
    position: fixed;


}

.Clear {
    background-image: url('images/Clear.png');
    position: fixed;
    height: 20%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 4%;
    margin: 12% 0% 0% 23%;

}
.Haze {
    background-image: url('images/Haze.png');
    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 12%;
    margin: 11% 0% 0% 22%;
}

.Mist {
    background-image: url('images/mist.png');
    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 20%;
    margin: 12.6% 0% 0% 23%;
    background-size: 9%;
}

.Clouds {
    background-image: url('images/clouds.png');
    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 12%;
    margin: 11.7% 0% 0% 22%;
}

.Thunderstorm {
    background-image: url('images/thunderstorm.png');
    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 12%;
    margin: 12.3% 0% 0% 22%;
}

.Smoke {
    background-image: url('images/Smoke.png');
    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 12%;
    margin: 12.3% 0% 0% 22%;
}


.location-name{
    position: fixed;
    color: white;
    margin: 1.5% 0% 0% 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rest-data-container{
    color: white;
}

.data-table{
    margin: 13% 0% 0% 14%; 
    width: 80%; 
    border-collapse: separate; 
    border-spacing: 12%; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
   


}


/*Clear
Haze
Mist
Clouds
Thunderstorm*/