<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather 24</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="background">
        <form action="">
            <input type="button" value="Get App">
        </form>
        <div class="headertitle"> Weather </div> 
        <div class="header1"> 24 </div>
        <div class="Home">Home</div> 
        <div class="Map">Map</div> 
        <div class="News">News</div> 
        <div class="Contact">Contact</div> 
        <div class="slogan1">Different kind of weather<br> inside of 24/7 hours.</div>
        <form action="/getweather/" method="post">
            <input type="text" placeholder="Enter city...." name="lc" required><br><br>
            <input type="submit" value="Get Update">
        </form>
        <div class="bottomtext">Best way to know your city weather.</div>
    
            
        

            
    
        
    </div>
    
</body>
</html>